.menu{
    background: #3b7687;
    padding: 5px 0 5px 40px;
    margin: 0 5px 0 5px 0;
    border: 1px solid black;
}
.menu a{
    
    color: #c5d6db;
    text-decoration: none;
    font-size: 14 px;
    font-family: "Arial Narrow", "Myriad Pro";   
}
.menu a:hover{
    
    color:chocolate;
}
.main{
    margin: 0 0 0 180px;
    padding: 0 40px 30px 0;
    color:#444444;
    font-family: "Georgia";
    font-size: 13px;
    line-height: 19px;
    text-emphasis: justify;
    
    
}
.main a:hover{
    color: #444444;
}